@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #F9F8F6;
  --color-foreground: #1C1C1C;
  --color-accent: #1D3557;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  .dark {
    --color-background: #111111;
    --color-foreground: #EFEFEF;
    --color-accent: #A8D0E6;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
